body {
  width: 100vw;
  height: 100vh;
  min-width: 200px;
  margin: 0px;
}
header,
main,
footer {
  width: 100vw;
  margin-left: 10px;
  margin-right: 10px;
  margin: 0px;
}
.header1 {
  background-color: orange;
  display: block;
  width: 99vw;
  height: 5vh;
  margin-bottom: 10px;
}

.main1 {
  background-color: #dbec00;
  display: block;
  width: 99vw;
  height: 30vh;
  margin-bottom: 20px;
}

.main2 {
  background-color: #4a89d0;
  display: block;
  width: 99vw;
  height: 70px;
  margin-bottom: 20px;
}
.footer1 {
  background-color: #e3e3e3;
  display: inline-block;
  width: 49vw;
  height: 55px;
}

@media (width<=324px) {
  header {
    min-width: 200px;
  }
  main {
    min-width: 200px;
  }
  footer {
    min-width: 200px;
    margin-bottom: 100px;
  }
  .main1 {
    height: 10vh;
    background-color: green;
  }
  .main2 {
    background-color: aqua;
    height: 17vh;
  }
  .footer1 {
    width: 99vw;
    height: 10vh;
    background-color: bisque;
  }
}

@media (width>324px) {

    .footer1{
        width: 49vw;
    }
    
}

@media (width>=1024px) {
    header{
    }
    .header1{
        display: inline-block;
        width: 49vw;
        height: 8vh;
    }
    .main1{
        background-color: #e6eb9b;
        height: 40vh;
    }
    .main2
    {
        display: inline-block;
    width: 31vw;
    height: 30vh;
    background-color: #4a55cb;
    }
    .footer1{
        min-width: 18vw;
        width: 19vw;
        height: 18vh;
        background-color: rgb(107, 64, 1);
    }
    
}

