.uno
{
    background-color:  white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 50%;
    width: 50%;
    
    background-color:aliceblue;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: 2px solid;
    min-width: 200px;
}
body{
    margin-top: 100px;
    background-color: antiquewhite;
}
p{
    margin-top: 2px;
   margin-left:8px;
   margin-right: 8px;
   margin-bottom: 10px;
}