.uno
{
    margin: 70px;
    border-top: 5px green dotted;
    border-right: 10px blue dashed;
    border-bottom: 10px red groove;
    border-left: 10px black double;
}

div{
    margin: 20px;
    padding: 40px;
}