/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

#search-form {
    margin-top: 20px;
    text-align: center;
}

#search-input {
    padding: 8px;
    width: 30vw;
    border-radius: 20px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

#pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    text-align: center;
    margin: 10px 0;
}

/* styles.css */

/* Estilos para el menú desplegable de categorías */
#categories-dropdown {
    position: relative;
    display: inline-block;
    margin-top: 5px;
}

#categories-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px
}

#categories-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 5.34vw;
    width: 90vw;
    left: 3vw;
    display: flex; /* Mostrar los elementos en línea */
    flex-wrap: wrap; /* Envolver los elementos si no caben en una sola fila */
    max-height: 0;
    overflow: hidden;
    background-color: black;
    border: 1px solid #ccc;
    border-top: none;
    transition: max-height 0.3s ease;
}

#categories-list li {
        list-style: none;
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 20px; /* Hacer que los bordes sean redondos */
        margin: 5px; /* Añadir un margen entre los elementos */
        transition: transform 0.3s, background-color 0.3s; /* Transición para el efecto de acercamiento y cambio de color */
    }
    
    #categories-list li:hover {
        background-color: rgba(255, 255, 255, 0.484); /* Cambiar el color de fondo al pasar el ratón */
        transform: scale(1.1); /* Aumentar ligeramente el tamaño al pasar el ratón */
    }

    .pokemon-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        text-align: center;
        width: 100vw;
        gap:  30px;
    }

    .container-details{
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        width: 100vw;
    }
    
    .details-t img {
        width: 20%;
        height: 20%;
    }
    
    .pokemon-details h2 {
        margin-top: 0;
    }
    
    .pokemon-details p {
        flex-direction: column;
        margin: 0.5rem 0;
    }

    .altura,.peso,.habilidades{
        display: block;

    }